/*************************************Home page styles ***********************************/
#home {
  min-height: 86vh;
  display:grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: 
  "categs categs categs categs"
  "feed  feed feed feed"
  "feed  feed feed feed"
  "footer footer footer footer";
}


#home > aside {
  grid-area: categs;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(165, 238, 171);
  padding: 1%;
  user-select: none;
}
#home > aside > button {
  background-color: beige;
  border: solid rgb(36, 206, 87) 2px;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
}
#home > aside > .selected-categ {
  outline: 'none';
  background-color: rgb(36, 206, 87);
  color: beige;
  
}
/************/
footer {
  grid-area: footer;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
footer > a {
  color: rgb(234, 247, 225);
  line-height: 50px;
}
/********general feed section styles*******/
#home > #feed {
  grid-area: feed; 
  height: 72vh;
  overflow-y: auto;
}

#feed > form, .avocata{
  background-color: rgb(243, 243, 215);
  margin: 5% auto;
  width: 99%;
  box-shadow: rgb(65, 109, 76) 2px 2px 5px;
  text-align: left;
}
#feed > form > .header, .avocata > .header {
  display: flex; 
  align-content: center;
  padding: 1%;
}
.header > img {width: 10%;}

/*****posting form*******/
#feed > form {
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-end;
}
#feed > form > * {
  margin: 2%;
  border-radius: 5px;
}
#feed > form > textarea {
  width: 100%;
  height: max(10vh, 10vw);
  overflow-y: auto;
  word-break:keep-all;
  resize: none;
  border:none;
}
#feed > form > textarea:focus {outline: 2px solid rgb(36, 206, 87);}

#feed > form > section {width: 100%;} /*the tags area*/
#feed > form > section > #tagsBag { 
  min-height: 5vh;
  width: 100%;
}

#upload {
  width: 40%;
  background-color: rgb(105, 37, 37);
  padding: 1.6%;
  color: white;
  user-select: none;
  cursor: pointer;
}
#upload [type="file"]{display: none;}

#feed > form > .fileData {
  width: 88%;
  font-size: max(1.5vw, 1.5vh);
}
#feed > form > button {
  background-color: rgb(33, 150, 33);
  color: white;
  border: none;
  cursor: pointer;
  width: 20%;
}


/****avocataas posts*****/
.avocata > .header > p {font-weight: bold;}

.date-created {
  font-size: max(1.5vw, 1.5vh);
  color: #511;
}
/***/
.avocata > .content > p {
  text-align: left;
  padding: 2%;
}
.avocata > .content > img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  #home {
    gap: 10px;
    grid-template-areas: 
    " feed feed feed categs"
    " feed feed feed footer"
    " feed feed feed ."
    ;
  }
  .avocata, #feed > form {width: 75%;}
  #home > aside {top: 10px;}
  #home > #feed {height:auto; min-height: 85vh;}
}