:root {
  scroll-behavior: smooth;
  --smallSize: max(1.2vw, 1.2vh);
  --regularSize: max(2vw, 2vh);
  --bigSize : max(3.5vw, 3.5vh);
}
@font-face {font-family: coolFont;src: url('./media/tikalsansmedium.otf');}
@font-face {
  font-family: coolFont-italic;
  src: url('./media/tikalsansmedium-italic.otf');
  font-style: italic;
}


* {
  margin: 0;
  font-family: coolFont, Verdana, Tahoma, sans-serif;
  font-size: var(--regularSize);
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(86, 226, 31);
  color: white;
}
::-webkit-scrollbar {width: 0.7vw; height: 0.8vw; }
::-webkit-scrollbar-track {background-color: rgb(151, 151, 151); border-radius: 5px;}
::-webkit-scrollbar-thumb {background-color: rgb(21, 197, 74); border-radius: 50px;} /*rgb(31, 124, 245)*/

body {
  background-color: rgb(243, 243, 180);
  overflow-x: hidden;
}

@media screen and (min-width: 1100px) {
  body {width: 75%; margin: 0 auto;}
}
/*************************the header styles***************/
header {
  padding: 2%;
  max-height: 150px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(217, 255, 127);
  color: rgb(117, 117, 117); 
  margin-bottom: 1.5%;
}
header > h1 {
  font-size: var(--bigSize);
  font-weight: bold;
}
header  [alt="logo"] {width: max(10vw, 100px); }
header > p {width: 20%;}
header > .user {
  width: 30%; 
  margin-left: auto;
  position: relative;
}
header > .user a {color: rgb(3, 194, 61)}

/*****if logged in****/
.userAvatar > [alt="avatar"]{
  width: max(50px, 30%); 
  cursor: pointer;
}

.userOptions {
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 5;
  font-size: max(1.5vw, 1.5vh);
  padding: 5%;
  background-color: rgb(233, 255, 212);
  border-radius: 5px;
  transform: scale(0.05) translate(200px, -300px);

  transition: all 0.5s;
}
.show {
  transform: scale(1);
}

.userOptions > * {font-size: inherit;}

/*************************About page and contact*************************/
.ali{
  padding: 3%;
  min-height: 77vh;
}
.ali > h1 {font-weight: bold; margin: 2%}
.ali > p {margin: 1%; padding: 2%;}
.ali > [alt="author"]{width: 50%;}




/******************log in and sign up page **********************/
.signing {padding: 2%;}
.signing button {cursor: pointer;}

.signing > form {margin: 4%;}
.signing table { margin: 4% auto;}
.signing table tr {height: 7vh;}

.signing td > * {font-weight: bold;}
.signing td:first-child {text-align: right;}
.signing td:nth-child(2) {width: 50%;}
.signing td:last-child {
  font-size: var(--smallSize);
  padding-left: 6px;
  text-align: left;
}

.signing input {
  padding: 1%;
  font-weight: normal;
  width: 90%;
}
.signing input::placeholder {font-size: var(--smallSize);}
.signing input:focus {
  font-weight: bold;
  outline: none;
  border: 2px solid rgb(13, 110, 13);
  background-color: rgb(168, 233, 83);
  color: rgb(109, 57, 14);
}
.signing .pass-feild button {font-size: inherit;}
.signing .warning {color: red; font-size: inherit;}
.signing .warning > * {font-size: inherit;}

.signing > form > button {
  padding: 1%;
  background-color: rgb(39, 202, 107);
  border:2px solid rgb(184, 231, 184);
  border-radius: 10px;
  color: white;
}

.gender-feild > label {
  width: 40%;
  font-weight: normal;
  margin: 5px;
}
.gender-feild input {width: auto}
.signing [alt="avatar"] {width: 30%}
